@import "../../default.css";

.item {
    background: blue;
    cursor: move;
    user-select: none;
    max-height: 6rem;
    max-width: 6rem;
    text-align: center;
    font-weight: bold;
    transition: 0.1s;
    border-radius: 10px;
}

.item:hover {
    transform: scale(0.95);
}

.item:active {
    transform: scale(0.9);
}

.turret-item {
    background: gray;
}

.archer-item {
    background: rgb(0, 211, 0);
}

.wizard-item {
    background: purple;
}
