@import "../../default.css";

.item {
    background: blue;
    cursor: move;
    user-select: none;
    height: 4rem;
    width: 4rem;
}

.turret-item {
    background: gray;
}

.archer-item {
    background: rgb(0, 211, 0);
}

.wizard-item {
    background: purple;
}
