@import "../../default.css";

.grass-tile {
    background: green;
}

.path-tile {
    background: saddlebrown;
}

.turret-tile {
    background: gray;
}

.archer-tile {
    background: rgb(0, 211, 0);
}

.wizard-tile {
    background: purple;
}

.bandit-tile {
    background: red;
}

.ogre-tile {
    background: rgb(0, 55, 0);
}
