@import "../../default.css";

.grass-tile {
    background: green;
    width: 3.7vw;
    height: 8vh;
}

.path-tile {
    background: saddlebrown;
    width: 3.7vw;
    height: 8vh;
}

.turret-tile {
    background: gray;
    width: 3.7vw;
    height: 8vh;
    font-size: 0.8rem;
    text-align: center;
}

.archer-tile {
    background: rgb(0, 211, 0);
    width: 3.7vw;
    height: 8vh;
    font-size: 0.8rem;
    text-align: center;
}

.wizard-tile {
    background: purple;
    width: 3.7vw;
    height: 8vh;
    font-size: 0.8rem;
    text-align: center;
}

.bandit-tile {
    background: rgb(56, 56, 56);
    width: 3.7vw;
    height: 8vh;
    font-size: 0.8rem;
    text-align: center;
}

.ogre-tile {
    background: rgb(0, 55, 0);
    width: 3.7vw;
    height: 8vh;
    font-size: 0.8rem;
    text-align: center;
}

.demon-tile {
    background: rgb(255, 0, 0);
    width: 3.7vw;
    height: 8vh;
    font-size: 0.8rem;
    text-align: center;
}
