@import "./default.css";

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.header {
    height: 10vh;
}

.game {
    display: flex;
    gap: 1rem;
    height: 90vh;
    align-items: center;
}

.side-panel {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.start-button {
    width: 30vw;
    height: 20vh;
    background: green;
    font-size: inherit;
    font-family: inherit;
    border: none;
    border-radius: 10px;
    transition: 0.1s;
}

.start-button:hover {
    transform: scale(0.95);
}

.start-button:active {
    transform: scale(0.9);
}
